In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
import pyspark

In [ ]:
import pandas as pd
pd.read_csv("/test1.csv")

        Name  age  Experience  Salary
0      Krish   31          10   30000
1  Sudhanshu   30           8   25000
2      Sunny   29           4   20000
3       Paul   24           3   20000
4     Harsha   21           1   15000
5    Shubham   23           2   18000

In [ ]:
from pyspark.sql import SparkSession #starting the session

In [ ]:
spark = SparkSession.builder.appName('Practice').getOrCreate() #practice is my session name and giving it a variable spark. and then my practice session will et created

In [ ]:
spark # see spark session details

In [ ]:
df_pyspark=spark.read.csv("/test1.csv")

In [ ]:
df_pyspark.show() #in below we can see that it is taking cloumn names as A, B .. and  mentioning as  C0,C1,.. .

+---------+---+----------+------+
|      _c0|_c1|       _c2|   _c3|
+---------+---+----------+------+
|     Name|age|Experience|Salary|
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [ ]:
df_pyspark=spark.read.csv("/test1.csv", header = True)#But to make the cloumn headings as Name, age, Experienc basivally considering first row as heading.

In [ ]:
df_pyspark

DataFrame[Name: string, age: string, Experience: string, Salary: string]

In [ ]:
df_pyspark.head()

Row(Name='Krish', age='31', Experience='10', Salary='30000')

In [ ]:
df_pyspark.schema #like info about data columns

StructType([StructField('Name', StringType(), True), StructField('age', StringType(), True), StructField('Experience', StringType(), True), StructField('Salary', StringType(), True)])

In [ ]:
#  part 1 :
# Reading The Dataset
# Checking the Datatypes of the Column(Schema)
# Selecting Columns And Indexing
# Check Describe option similar to Pandas
# Adding Columns
# Dropping columns
# Renaming Columns

In [ ]:
# in the above code we could see that even if the age, experience salary are int it is giving string in schema.So for that we should use inferSchema=True

In [ ]:
df_pyspark=spark.read.csv("/test1.csv",header=True, inferSchema=True)

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [ ]:
df_pyspark.columns

['Name', 'age', 'Experience', 'Salary']

In [ ]:
df_pyspark.select(['Name','Experience']).show() #selecting columns; slicing doesnt work here

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|    Sunny|         4|
|     Paul|         3|
|   Harsha|         1|
|  Shubham|         2|
+---------+----------+

In [ ]:
df_pyspark.describe().show() #giving info about the dataset

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  NULL|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  NULL| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

In [ ]:
df2=df_pyspark.withColumn('Experience after 2 years',df_pyspark['Experience']+2) #adding columns where new col is exp after 2 yrs

In [ ]:
df2.show()

+---------+---+----------+------+------------------------+
|     Name|age|Experience|Salary|Experience after 2 years|
+---------+---+----------+------+------------------------+
|    Krish| 31|        10| 30000|                      12|
|Sudhanshu| 30|         8| 25000|                      10|
|    Sunny| 29|         4| 20000|                       6|
|     Paul| 24|         3| 20000|                       5|
|   Harsha| 21|         1| 15000|                       3|
|  Shubham| 23|         2| 18000|                       4|
+---------+---+----------+------+------------------------+

In [ ]:
df_pyspark.drop('Experience after 2 years').show() # dropping a column

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [ ]:
df_pyspark.withColumnRenamed('age','Age').show() #rename a columns

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [ ]:
#part 2 - Handling Missing Values
#Dropping Columns
#Dropping Rows
#Various Parameter In Dropping functionalities
#Handling Missing values by Mean, MEdian And Mode

In [ ]:
df_spark2=spark.read.csv("/test2.csv",header=True, inferSchema = True)

In [ ]:
df_spark2.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
|     NULL|  36|      NULL|  NULL|
+---------+----+----------+------+

In [ ]:
df_spark2.drop('Name').show() # drooping column

+----+----------+------+
| age|Experience|Salary|
+----+----------+------+
|  31|        10| 30000|
|  30|         8| 25000|
|  29|         4| 20000|
|  24|         3| 20000|
|  21|         1| 15000|
|  23|         2| 18000|
|NULL|      NULL| 40000|
|  34|        10| 38000|
|  36|      NULL|  NULL|
+----+----------+------+

In [ ]:
df_spark2.na.drop().show()#dropping row values based if missing values

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [ ]:
df_spark2.na.fill('missing value').show() #generally na.fill will replace values only if we give the value datatype same to the datatypes of column or else in oter it will keep as it is i.e NULL

+-------------+----+----------+------+
|         Name| age|Experience|Salary|
+-------------+----+----------+------+
|        Krish|  31|        10| 30000|
|    Sudhanshu|  30|         8| 25000|
|        Sunny|  29|         4| 20000|
|         Paul|  24|         3| 20000|
|       Harsha|  21|         1| 15000|
|      Shubham|  23|         2| 18000|
|       Mahesh|NULL|      NULL| 40000|
|missing value|  34|        10| 38000|
|missing value|  36|      NULL|  NULL|
+-------------+----+----------+------+

In [ ]:
df_spark2.na.fill(0,['Experience','Salary']).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|         0| 40000|
|     NULL|  34|        10| 38000|
|     NULL|  36|         0|     0|
+---------+----+----------+------+

In [ ]:
df_spark2.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
|     NULL|  36|      NULL|  NULL|
+---------+----+----------+------+

In [ ]:
from pyspark.sql.functions import mean

In [ ]:
meansal= df_spark2.select(mean('Salary')).first()[0]
meansal

25750.0

In [ ]:
df_spark2.na.fill(meansal,'Salary').show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
|     NULL|  36|      NULL| 25750|
+---------+----+----------+------+

In [ ]:
#part 3 - Filter operations
#retriving values based on conditions

In [ ]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [ ]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show() #find sal of people < = 20000

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [ ]:
df_pyspark.filter(df_pyspark['Salary']<=20000).select('Name','Age').show() #showing only name and ageas per condition

+-------+---+
|   Name|Age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [ ]:
df_pyspark.filter((df_pyspark['Salary']<=20000) & (df_pyspark['age']>=25)).show()

+-----+---+----------+------+
| Name|age|Experience|Salary|
+-----+---+----------+------+
|Sunny| 29|         4| 20000|
+-----+---+----------+------+

In [ ]:
#Part 4 - Groupby and Aggregate functions

In [ ]:
df_pyspark4 = spark.read.csv("/test3.csv",header = True, inferSchema = True)

In [ ]:
df_pyspark4.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [ ]:
df_pyspark4.groupBy('Name').sum().show()   #groupby, group to find max salary

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [ ]:
from pyspark.sql.functions import sum

In [ ]:
df_pyspark4.groupBy('Departments').agg(sum('Salary').alias('Total')).orderBy('Total',ascending=False).show()#group by department to see which department gives max salary

+------------+-----+
| Departments|Total|
+------------+-----+
|Data Science|43000|
|         IOT|15000|
|    Big Data|15000|
+------------+-----+

In [ ]:
df_pyspark4.agg(sum('Salary')).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+